body {
  background-color: #282828;
  color: #ebdbb2;
  font-family: "Font Name", sans-serif;
  font-size: 16px;
}

input[type="text"] {
  background-color: #3c3836;
  color: #ebdbb2;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

button#save-button {
  background-color: #1e7325;
  color: #ebdbb2;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 16px;
}

button#save-button:hover {
  background-color: #83a598;
}

button#save-button:active {
  transform: translateY(1px);
  box-shadow: none;
}

button#save-button:disabled {
  background-color: #a89984;
  color: #928374;
}

button#reset-button {
  background-color: #458588;
  color: #ebdbb2;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 16px;
}

button#reset-button:hover {
  background-color: #83a598;
}

button#reset-button:active {
  transform: translateY(1px);
  box-shadow: none;
}

button#reset-button:disabled {
  background-color: #a89984;
  color: #928374;
}

